In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import matplotlib.pyplot as plt
#from matplotlib.pyplot import *
#import seaborn as sb
#from sklearn.cluster import KMeans
#from sklearn.metrics import pairwise_distances_argmin_min
#from sklearn.metrics import silhouette_score
#from scipy.spatial.distance import cdist
import os
%matplotlib inline
%config IPCompleter.greedy=True
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

file2017 = 'Data/Base_2017.xlsx';
file2018 = 'Data/Base_2018.xlsx';
file2019 = 'Data/Base_2019.xlsx';

In [63]:
df2017AC = pd.read_excel(file2017)

In [64]:
df2017AC.head()

,id,Dia,Fecha,MES_PROCESADO,Oficina,GravedadCod,GravedadNombre,ClaseCodigo,ClaseNombre,ChoqueCodigo,...,CON_CARGA,CON_EMBRIAGUEZ,CON_HUECOS,CON_MENORES,CON_MOTO,CON_PEATON,CON_PERSONA_MAYOR,CON_RUTAS,CON_TPI,CON_VELOCIDAD
0,1,LUNES,2017-01-09,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,SI,NO,NO,NO
1,2,MIÉRCOLES,2017-01-04,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,SI,NO,SI,NO
2,3,SÁBADO,2017-01-28,ENERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,4,DOMINGO,2017-02-05,FEBRERO,11001000,3,Solo Daños,1,Choque,1.0,...,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO
4,5,DOMINGO,2017-02-05,FEBRERO,11001000,2,Con Heridos,1,Choque,1.0,...,SI,NO,NO,NO,NO,NO,NO,NO,NO,NO

# Analisis de datos

In [3]:
df2017AC.describe()

,id,Oficina,GravedadCod,ClaseCodigo,ChoqueCodigo,ObjetoFijoCodigo,OtraClase,Latitud,Longitud,NumeroVia2,Complemento,HORA_PROCESADA,Area,Sector,Zona,CoordenadaX,CoordenadaY
count,35170.00000,35170.0,35170.000000,35170.000000,30476.000000,989.000000,137.000000,35170.000000,35170.000000,35150.000000,35166.000000,35170.000000,35170.000000,35170.000000,35170.000000,35170.0,35170.0
mean,17585.50000,11001000.0,2.674268,1.206568,1.105362,4.701719,3.846715,183.805639,-2609.092238,59.954822,8.316442,12.807734,1.000142,1.555985,2.491925,0.0,0.0
std,10152.84882,0.0,0.500175,0.637263,0.558466,3.576663,0.483409,4808.168396,43789.634616,44.638150,17.702464,5.368207,0.011923,0.875877,1.194357,0.0,0.0
min,1.00000,11001000.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,-781336.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.0,0.0
25%,8793.25000,11001000.0,2.000000,1.000000,1.000000,2.000000,4.000000,0.000000,0.000000,22.000000,2.000000,9.000000,1.000000,1.000000,3.000000,0.0,0.0
50%,17585.50000,11001000.0,3.000000,1.000000,1.000000,3.000000,4.000000,0.000000,0.000000,57.000000,2.000000,13.000000,1.000000,1.000000,3.000000,0.0,0.0
75%,26377.75000,11001000.0,3.000000,1.000000,1.000000,9.000000,4.000000,0.000000,0.000000,81.000000,2.000000,17.000000,1.000000,3.000000,3.000000,0.0,0.0
max,35170.00000,11001000.0,3.000000,7.000000,5.000000,10.000000,4.000000,741275.000000,0.000000,748.000000,99.000000,23.000000,2.000000,3.000000,6.000000,0.0,0.0

In [37]:
df2017AcAdCo = df2017AC
lskeys = []
for index, row in df2017AC.iterrows():
    fecha = row['Fecha']
    fechaDate = fecha.to_pydatetime()
    keyid = str(row['id']) + str(fechaDate.day) + str(fechaDate.month) + str(fechaDate.year)
    lskeys.append(int(keyid))
    
#df2017AC['KeId'] = lskeys
df2017AcAdCo.insert(0,"KeyId", lskeys)

In [38]:
df2017AcAdCo.head()

,KeyId,id,Dia,Fecha,MES_PROCESADO,Oficina,GravedadCod,GravedadNombre,ClaseCodigo,ClaseNombre,...,CON_CARGA,CON_EMBRIAGUEZ,CON_HUECOS,CON_MENORES,CON_MOTO,CON_PEATON,CON_PERSONA_MAYOR,CON_RUTAS,CON_TPI,CON_VELOCIDAD
0,1912017,1,LUNES,2017-01-09,ENERO,11001000,3,Solo Daños,1,Choque,...,NO,NO,NO,NO,NO,NO,SI,NO,NO,NO
1,2412017,2,MIÉRCOLES,2017-01-04,ENERO,11001000,3,Solo Daños,1,Choque,...,NO,NO,NO,NO,NO,NO,SI,NO,SI,NO
2,32812017,3,SÁBADO,2017-01-28,ENERO,11001000,3,Solo Daños,1,Choque,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,4522017,4,DOMINGO,2017-02-05,FEBRERO,11001000,3,Solo Daños,1,Choque,...,NO,NO,NO,NO,SI,NO,SI,NO,NO,NO
4,5522017,5,DOMINGO,2017-02-05,FEBRERO,11001000,2,Con Heridos,1,Choque,...,SI,NO,NO,NO,NO,NO,NO,NO,NO,NO

In [26]:
df2017AC.columns

Index(['id', 'Dia', 'Fecha', 'MES_PROCESADO', 'Oficina', 'GravedadCod',
       'GravedadNombre', 'ClaseCodigo', 'ClaseNombre', 'ChoqueCodigo',
       'ChoqueNombre', 'ObjetoFijoCodigo', 'ObjetoFijoNombre', 'OtraClase',
       'NombreOtraClase', 'Latitud', 'Longitud', 'Direccion', 'TipoVia1',
       'NumeroVia1', 'LetraVia1', 'CardinalVia1', 'TipoVia2', 'NumeroVia2',
       'LetraVia2', 'CardinalVia2', 'Complemento', 'Municipio', 'Localidad',
       'FechaOcurrencia', 'HoraOcurrencia', 'HORA_PROCESADA', 'Area', 'Sector',
       'Zona', 'TipoDisenno', 'TipoTiempo', 'CoordenadaX', 'CoordenadaY',
       'CON_BICICLETA', 'CON_CARGA', 'CON_EMBRIAGUEZ', 'CON_HUECOS',
       'CON_MENORES', 'CON_MOTO', 'CON_PEATON', 'CON_PERSONA_MAYOR',
       'CON_RUTAS', 'CON_TPI', 'CON_VELOCIDAD', 'KeId'],
      dtype='object')

In [27]:
df2017AC.to_excel("Prueba.xlsx")

In [43]:
df2017AC = pd.read_excel(file2017,sheet_name ='CONDUCTORES')
df2017AC.head()

,id,Fecha,MES_PROCESADO,DIA_PROCESADO,Vehiculo,EDAD_PROCESADA,LLevaCinturon,LLevaChaleco,LLevaCasco,Sexo,...,CON_CARGA,CON_EMBRIAGUEZ,CON_HUECOS,CON_MENORES,CON_MOTO,CON_PEATON,CON_PERSONA_MAYOR,CON_RUTAS,CON_TPI,CON_VELOCIDAD
0,29573,2017-11-07,NOVIEMBRE,MARTES,1,56.0,NaN,S,S,MASCULINO,...,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO
1,29573,2017-11-07,NOVIEMBRE,MARTES,3,47.0,S,NaN,NaN,MASCULINO,...,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO
2,29573,2017-11-07,NOVIEMBRE,MARTES,2,39.0,S,NaN,NaN,MASCULINO,...,NO,NO,NO,NO,SI,NO,NO,NO,NO,NO
3,33359,2017-12-09,DICIEMBRE,SÁBADO,2,28.0,NaN,S,S,MASCULINO,...,NO,NO,NO,NO,NO,NO,NO,NO,SI,NO
4,33359,2017-12-09,DICIEMBRE,SÁBADO,1,27.0,S,NaN,NaN,MASCULINO,...,NO,NO,NO,NO,NO,NO,NO,NO,SI,NO

In [53]:
pruebadf = df2017AC[['EDAD_PROCESADA','LLevaChaleco']]
print(pruebadf)

       EDAD_PROCESADA LLevaChaleco
0                56.0            S
1                47.0          NaN
2                39.0          NaN
3                28.0            S
4                27.0          NaN
...               ...          ...
67012            48.0          NaN
67013            24.0            S
67014            49.0          NaN
67015            42.0          NaN
67016            21.0            S

[67017 rows x 2 columns]

In [55]:
pruebadf = pruebadf[pruebadf['LLevaChaleco'].notna()]
print(pruebadf)

       EDAD_PROCESADA LLevaChaleco
0                56.0            S
3                28.0            S
5                25.0            S
7                18.0            S
12               33.0            S
...               ...          ...
66999            27.0            S
67000            22.0            S
67004            25.0            S
67013            24.0            S
67016            21.0            S

[10057 rows x 2 columns]

In [57]:
pruebadf = pruebadf[pruebadf['EDAD_PROCESADA'] != 'SIN INFORMACION']
print(pruebadf)

       EDAD_PROCESADA LLevaChaleco
0                56.0            S
3                28.0            S
5                25.0            S
7                18.0            S
12               33.0            S
...               ...          ...
66999            27.0            S
67000            22.0            S
67004            25.0            S
67013            24.0            S
67016            21.0            S

[10057 rows x 2 columns]

In [61]:
edades = pruebadf['EDAD_PROCESADA']
chaleco = pruebadf['LLevaChaleco']
print(edades)
print("---------------------------------")
print(chaleco)

0        56.0
3        28.0
5        25.0
7        18.0
12       33.0
         ...
66999    27.0
67000    22.0
67004    25.0
67013    24.0
67016    21.0
Name: EDAD_PROCESADA, Length: 10057, dtype: float64
---------------------------------
0        S
3        S
5        S
7        S
12       S
        ..
66999    S
67000    S
67004    S
67013    S
67016    S
Name: LLevaChaleco, Length: 10057, dtype: object

In [65]:
df2017AC.groupby(['ClaseCodigo'])["id"].count()

ClaseCodigo
1    30476
2     3367
3      375
4      807
5        3
6      137
7        5
Name: id, dtype: int64